@font-face {
    font-family: 'Bareun_hipi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url('image/back.jpeg');
    background-size: 100%;
    margin: 0px;
    /* overflow: hidden; */
}
.bg-mainpage{
    position: relative;
    height: 100vh;
    filter: blur(5px);
    z-index: 1;
}
#bg{
    text-align: center;
}
.__login{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 339px;
    height: 359px; 
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 2;
    transform: translate( -50%, -50% );
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
}
#login{
    display: flex;
    flex-direction: column;
}
.waf{
    width: 35px;
}
.login-top{
    display: flex;
    flex-direction: row;
    border-bottom:  1px solid #BDBDBD;
}
.login-top-logo{
    flex: 2;
    margin-top: 4%;
    margin-left: 10%;
}
.login-top-txt{
    flex: 3;
    margin-top: 3%;
    margin-right: 29%;
    margin-bottom: 10px;
}

.login-top-eng{
    font-family: S-CoreDream-2ExtraLight;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 24px;
    align-items: center;

    color: #BCBCBC;
    margin-bottom: 2%;
}
.login-top-kor{
    font-family: S-CoreDream-2ExtraLight;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 15px;
    align-items: center;

    color: #BCBCBC;
}
.login-box{
    flex: 3;
    text-align: left;
    margin: 25px 20px 0 20px;
}
.login-bottom{
    flex: 1;
}
.login-box-login{
    margin-bottom: 10px;
    font-weight: bold;
}
.login-box-email,.login-box-password{
    font-size: 10px;
    color: #BCBCBC;
    margin-bottom: 1%;
}
#email{
    margin-bottom: 10px;
}
#email,#password{
    width: 99%;
    height: 25px;
    border:1px solid #BDBDBD;
}
#login-box-btn{
    font-family: Roboto;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-weight:bolder;

    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 5px;
}
.login-box-txt{
    display: flex;
    justify-content: flex-end;
}
.login-box-txt-find,.login-box-txt-signin{
    margin-top: 2%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.login-box-txt-find{
    margin-right: 3%;
    margin-bottom: 3%;
}
.login-bottom-or{
    font-family: Roboto;
    font-size: 12px;
    color: #BCBCBC;
    font-weight: bolder;
}
.login-bottom-social{
    font-family: Roboto;
    display: flex;
    justify-content: center;
}
.login-bottom-social-facebook{
    margin-left: 8%;
    margin-right: 2%;
    margin-top: 4%;
    width: 40%;
    height: 10%;
    flex: 1;
    display: flex;

    
    background: #FFFFFF;
    border-radius: 10px;
    
}
.login-bottom-social-google{
    margin-top: 4%;
    margin-right: 3%;
    flex: 1;
    display: flex;

    background: #FFFFFF;
    border-radius: 10px;
}
.google-txt,.facebook-txt{
    margin-left: 5%;
    margin-top: %;
}