@font-face {
    font-family: 'Bareun_hipi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-color: gray; */
    margin:0px;
    background-image: url('/image/back.jpeg');
}
.container {
    display: flex;
}
.__planner, .__stopwatch {
    /* background-color: yellowgreen; */
}
.__planner {
    flex-basis: 70%;
}
.__stopwatch {
    flex-basis: 30%;
    border: 1px red solid;
}

.planner {
    background-color: white;
    display: flex;
    width: 60vw;
    height: 90vh;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 4vh;
    box-shadow: 1px 5px 5px 5px grey;
    border-radius: 15px;
}
.planner-left {
    flex-basis: 50%;
    border: 1px solid grey;
    border-style: none solid none none;
}
.planner-right {
    flex-basis: 50%;
}

#date {
    margin: 40px 30px 0px 30px;
}
.date-title, .date-real {
    display: inline;
}

.date-title {
    font-size: 12px;
    margin-right: 8px;
    color:#7E7E7E;
}
.date-real {
    font-size: 20px;
    color: #6A6A6A;

}
#dday-memo {
    margin: 5px 30px 0px 30px;
    color:#7E7E7E;
}
.dday-memo-title {
    font-size: 12px;
}
.dday-memo-real {
    text-align: center;
    height: 60px;
    color: #9C9C9C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dday-memo-real > p {
    font-size: 12px;
    margin:0px;
}

#todo {
    margin: 5px 30px 0px 30px;
}
.todo-title {
    font-size: 12px;
    color:#7E7E7E;
}
table {
    border-collapse: collapse;
    width:100%;
    font-family: 'Bareun_hipi';
}
table td, table th {
    border:0.7px solid #909090;
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
    width: 20%;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
    width: 80%;
}

#time {
    /* margin: 20% 0px 0px 7%; */
    margin: 10vh 0px 0px 3vh;
    font-weight: lighter;
}
.time-real {
    font-size: 30px;
}

#timetable {
    margin: 2vh 0px 0px 0.5vh;
    /* margin: 4% 0px 0px 1%; */
    height: 80%;
    font-weight: lighter;
}

.timetable-title > p
{
    margin-bottom: 1%;
    margin-left: 6%;
}

.timetable-layout
{
    margin: 0;
    height: 90%;
    width: 90%;
    font-size: 85%;
    font-weight: lighter;
    color: grey;
    line-height: 140%;
    display: flex;
}

/* .timetable-number
{
    text-align: right;
    font-size: 70%;
    line-height: 1.8;
    width: 10%;
} */

.timetable-matrix
{
    margin: 1% 0px 0px 3%;
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.timetable-matrix > .ulDiv
{
    display: flex;
    margin: 0;
    height: 3.8%;
}

.timetable-matrix > .ulDiv > p
{
    width: 8%;
    margin: 0 1%;
    text-align: right;
    font-size: 70%;
}


.timetable-matrix > .ulDiv > ul
{
    display: flex;
    list-style: none;
    /* border: 1px solid blue; */
    /* border: 1px solid rgb(187, 187, 187); */
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.timetable-matrix > .ulDiv > ul > li
{
    width: 1.6%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}


.watch-btn {
    width: 207px;
    height: 207px;
    background-color: #FFFFFF; 
    border-radius: 50%;
    text-align: center;
    font-size:35px;
}

#btn-reset {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

#btn-play {
    display: block;
  }
#btn-pause {
    
    display: none;
    
  }
#btn-stop{
    display: none;
    
}