@font-face {
    font-family: 'Bareun_hipi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin:0px;
    background-image: url('/image/back.jpeg');
}
.container {
    display: flex;
}

.__planner {
    flex-basis: 70%;
}
.__stopwatch {
    flex-basis: 30%;
}

.planner {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    width: 60vw;
    height: 90vh;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 4vh;
}
.planner-left {
    flex-basis: 50%;
    border: 0.5px solid #C9C9C9;
    border-style: none solid none none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px 0 0 10px;
}
.planner-right {
    flex-basis: 50%;
    border: 0.5px solid #C9C9C9;
    border-style: none none none solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 10px 10px 0;
}

#date {
    margin: 40px 30px 0px 30px;
}
.date-title, .date-real {
    display: inline;
}

.date-title, .dday-memo-title, .todo-title {
    font-size: 12px;
    margin-right: 8px;
    color:#7E7E7E;
}
.date-real {
    font-size: 20px;
    font-family: 'S-CoreDream-2ExtraLight';
    color: #6A6A6A;
}

#dday-memo {
    margin: 5px 30px 0px 30px;
    color:#7E7E7E;
}
.dday-memo-real {
    text-align: center;
    height: 60px;
    color: #9C9C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'S-CoreDream-2ExtraLight';
}
.dday-memo-real:hover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.dday-memo-real > p {
    font-size: 12px;
    margin:0px;
}

#todo {
    margin: 5px 30px 0px 30px;
}
table {
    border-collapse: collapse;
    width:100%;
    font-family: 'Bareun_hipi';
}
table td, table th {
    border:0.7px solid #909090;
    cursor: text;
}
table td:hover {
    color: #9C9C9C;
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
    width: 20%;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
    width: 80%;
}
tbody > tr > td > input {
    outline:none;
    width:100%;
    font-family: 'Bareun_hipi';
    font-size: 17px;
}
tbody > tr > td > input:focus {
    outline:none;
}

#time {
    /* margin: 20% 0px 0px 7%; */
    margin: 7vh 0px 0px 3vh;
    font-weight: lighter;
}
.time-title
{
    font-size: 12px;
    margin-right: 8px;
    color:#7E7E7E;
    font-weight: normal;
}
.time-real {
    font-size: 30px;
}

#timetable {
    margin: 2vh 0px 0px 0.5vh;
    /* margin: 4% 0px 0px 1%; */
    height: 88%;
    font-weight: lighter;
}

.timetable-title > p
{
    margin-bottom: 1%;
    margin-left: 6%; 
    font-size: 12px;
    margin-right: 8px;
    color:#7E7E7E;
    font-weight: normal;
}

.timetable-layout
{
    margin: 0;
    height: 90%;
    width: 90%;
    font-size: 85%;
    font-weight: lighter;
    color: grey;
    line-height: 140%;
    display: flex;
}

.timetable-matrix
{
    margin: 1% 0px 0px 3%;
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}

.timetable-matrix > .ulDiv
{
    display: flex;
    margin: 0;
    height: 3.8%;
}

.timetable-matrix > .ulDiv > p
{
    width: 8%;
    margin: 0 1%;
    text-align: right;
    font-size: 70%;
}


.timetable-matrix > .ulDiv > ul
{
    display: flex;
    list-style: none;
    /* border: 1px solid blue; */
    /* border: 1px solid rgb(187, 187, 187); */
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.timetable-matrix > .ulDiv > ul > li
{
    width: 1.6%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}


.watch-btn {

    /* display: flex; */
    
    width: 20vw;
    height: 20vw;
    left: 90%;
    top: 15%;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
  
    background-color: #FFFFFF; 
    border-radius: 50%;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616161;
    float:left;
    margin-top: 30%;
    
}

#btn-start {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    border-radius: 50%;
    margin-left : 15%;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.07);
    
  }
#btn-pause{
    display: none;
    width: 10vw;
    border-radius: 10vw 0px 0px 10vw;
    margin-left : 15%;   
    box-shadow: inset 10px 10px 3px rgba(0, 0, 0, 0.07);
}

#btn-stop{
    
    display: none;
    width: 10vw;
    border-radius: 0px 10vw 10vw 0px;
    box-shadow: inset 0px 10px 3px rgba(0, 0, 0, 0.07);
}

#display{
    /* position : absolute; */
    width: 20vw;
    height: 6vw;
    left : 80%;
    top : 60%;
    float: left;

    margin-top : 15%;
    margin-left : 15%;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;

    font-family: 'LAB디지털';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    color: #6B6B6B;
    border: 1px solid #F2F2F2;
    background: #FFFFFF;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.dial-btn-image{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25px;
    top: 25px;
    z-index: 1;
}

#count{
    font-family: Roboto;
    font-size: 20px;
    border: none;
    text-align: center;
    font-weight: 200;
}
#count:focus {
    outline:none;
}

#__total-cal{
    display: none;
    position: absolute;
    left: 60px;
    top: 30px;
    width: 331px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: move;
}
#dial-btn-open,#cal-btn-year,#dial-btn-close{
    display: none;
}
.d-b-o,#count,.nemo,.exit{
    cursor: pointer;
}

#cal-btn-year:checked + .__total-cal{
    display: inline;
}
.__righttop{
    position: fixed;
    right: 20px;
    top: 20px;
    text-align: right;
    width: 120px;
    height: 64px;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    flex-direction: column;
    border-right: 1px solid #929292;
}
#rt-page{
    margin-right: 10px;
}
a:link { 
    color: black; text-decoration: none;
}
a:visited { 
    color: black; text-decoration: none;
}
a:hover { 
    color: black; text-decoration: none;
}
.setting-img{
    position: fixed;
    right: 8px;
    bottom: 8px;
}

#btn-reset {
    width: 20px;
    height: 20px;
    background-color: red;
}

.__highlighter
{
    display:flex;
    position: fixed;
    left: 70vw;
    top: 70vh;
    width: 25vw;
    height: 30vh;
    
}

.__highlighter > div
{
    height: 30vh;
    margin-left: 1vw;
    margin-top: 10vh;
}

.color-pen-4-pick, .color-pen-3-pick, .color-pen-2-pick, .color-pen-1-pick
{
    opacity: 0%;
    width: 0%;
    height: 0%;
    position: absolute;
}
